


.navbar {
    background-color: #343a40;
    margin-bottom: 7px;
}

.logo{
    height: 45px;
    width: 45px;
    margin-right: 3px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.bg-image {
    background-image: url(https://img.freepik.com/premium-vector/people-working-out-gym-using-equipment-vector_316839-3113.jpg?w=1380); /* Replace 'your-background-image-url.jpg' with the actual path to your background image */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px;
    height: 70vh;
}

.text-bg{
    background-color: rgba(0, 0, 0, 0.392); 
    padding: 20px;
    margin-top: 80px;
    height: 100%;

    
}

.text-1 {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-size: 5.5em;
    font-weight: bold;
    text-shadow: 0em 0em 0.2em rgb(246, 214, 239);
    color: white;
    letter-spacing: 3px;

}

.lead {
    font-size: 1.1em;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #ffffff;
    text-shadow: 0em 0em 0.2em rgba(1,1,1,1);
    letter-spacing: 1px;
}

button {
    background-color: goldenrod;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    border-style: solid;
    border-color: goldenrod;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    letter-spacing: 1px;
}

button:hover {
    background-color: transparent;
    color: gold;
    text-shadow: #343a40;
}

.feature{
    margin: 10px;
    margin-bottom: 15px;
}

.feature-box {
    text-align: center;
    margin: 10px;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    max-width: 30%;
    box-shadow: 0.5rem 0.5rem rgba(0,0,.15,.15)!important;
}

.feature-box-img{
    height: 150px;
    width: 150px;
}

.text-3{
    font-size: 22px;
}

.text-4{
    font-size: 13px;
}

.about-bg{
    background-color: #3777BA;
    padding: 40px;
    align-items: center;
}

.about-text{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.about-text-para{
    color: #b6b4b4;
    font-family: Arial, Helvetica, sans-serif;
}

.about-img{
    height: 400px;
    width: 400px;  
}

.call-to-action {
    background-color: #434c54;
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
}

.contact-form {
    margin-top: 30px;
}

.contact-section{
    background-color: #343a40;
    padding: 30px;
}

.contact-head{
    color: rgb(225, 170, 28);
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}

.contact-para{
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
}

.icon{
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 10px;
}